# Estadística Descriptiva y Pandas

El objetivo del siguiente notebook es, además de repasar conceptos de estadística, que sigas aprendiendo a operar con Numpy y que, además, incorpores Pandas a tu caja de herramientas.

## 1. Estadística Descriptiva

La Estadística Descriptiva nos sirve para comenzar a analizar y entender un conjunto de datos. En el caso de datos numéricos, lo hace obteniendo *valores estadísticos* que, de alguna forma, reemplazan a nuestros datos. Por ejemplo, es muy difícil leer y *entender* la edad de 1000 personas. Pero con un grupo reducido de valores estadísticos (mínimo, máximo, media y desviación estándar, etc.) podemos aproximarnos a ese conjunto de una manera mucho más comprensible. Veamos dos medidas muy importantes:

**Promedio**

Dados $n$ números $x_1,x_2,...,x_n$, el promedio o media es 

$$\overline{x} = \frac{1}{n}\sum_{i=1}^{n} x_i = \frac{x_1 + x_2 + ... + x_n}{n}$$

**Desviación Estándar**

La varianza y la desviación estándar nos dan una idea de cuán "dispersos" están los valores con respecto a su promedio.

$$ Var = \frac{\sum_{i=1}^{n} (x_i -\overline{x})^2}{n - 1}$$

La desviación estándar es la raiz cuadrada de la varianza. En general se usa la letra griega $\sigma$ para representarla o las siglas $SD$:

$$ SD = \sqrt{\frac{\sum_{i=1}^{n} (x_i -\overline{x})^2}{n - 1}}$$

$$ SD = \sqrt{Var}$$


**Comentarios**:
1. Dado un conjunto de números, el promedio suele ser considerado el número más representativo de ese conjunto. Esto no siempre es así. Pensá o googleá por qué.
2. Al conjunto de números $x_1,...,x_n$ los pueden encontrar por el nombre de *población* o *muestra* (¡Ojo que no estamos diciendo que *población* y *muestra* sean lo mismo!).

### Challenge:

Vamos a utilizar de excusa la estadística descriptiva para hacer un desafío de programación:

Dadas la siguiente lista de números, escribir una rutina que calcule su promedio, su varianza y desviación estándar. **Pistas:**
* Probablemente te sea muy útil usar lo que hiciste para ejercicios anteriores.
* Para calcular la varianza y la desviación estándar, usa el resultado que obtuviste al calcular el promedio.

In [33]:
#x_s = [1,2,3,1,2,2,3,4,1,2,3,4,1,2,4]
#x_s = [5,10,8,20]
x_s = [10,10,10,10,10]
n = len(x_s)

mean = 0
for x in x_s:
    mean +=x # Equivalente a mean = mean + x
mean/=n # Equivalente a mean = mean/n
print(mean)

### Una forma más fácil
mean = sum(x_s)/len(x_s)
print(mean)

10.0
10.0

In [34]:
n = len(x_s)

var = 0
for x in x_s:
    var += (x - mean)**2
var/= n - 1
std = var**(1/2)

print(var)
print(std)

0.0
0.0

¿Cómo te fue con el Challenge? Si no pudiste resolverlo, no te preocupes. ¡NumPy tiene funciones ya incorporadas que calcula algunos estadísticos sobre un arreglo!

### 1.2 Estadística con NumPy

Veamos cómo se calculan, en NumPy, el promedio, varianza y desviación estándar sobre un arreglo.

In [3]:
import numpy as np

x_s = np.array([1,2,3,1,2,2,3,4,1,2,3,4,1,2,4])

# Promedio
print(x_s.mean())

# Varianza
print(x_s.var(ddof = 1))

# Desviación estándar
print(x_s.std(ddof = 1))

2.3333333333333335
1.238095238095238
1.1126972805283735

**Para investigar**: ¿qué es el parámetro `ddof` de esa función?¿Qué pasa si no lo usas? Esta pregunta es **difícil** y requiere cierto conocimiento previo. Pero intenta, de todas formas, averiguarlo.

NumPy también puede calcular percentilos (¡googlear!), cuantilos, mínimos y máximos:

In [4]:
print(np.percentile(x_s,75))
print(np.quantile(x_s,0.5))
print(np.min(x_s))
print(np.max(x_s))

3.0
2.0
1
4

**Para investigar**: ¿Cuál es la diferencia entre `np.percentile()` y `np.quantile()`?¿Cómo obtendrías los cuartiles a partir de ellos?

### 1.3 Generación de muestras al azar

Una cosa sumamente útil que podemos hacer con NumPy es generar muestras al azar. Esto no permite simular situaciones. Por ejemplo, las tiradas de dados que aparecen en el GIF de la bitácora. Estas funciones las encontramos dentro del paquete `random` de NumPy, cuya documentación pueden encontrar [aquí](https://docs.scipy.org/doc/numpy-1.15.0/reference/routines.random.html). Veamos cómo lo podemos hacer:

In [5]:
muestras_dado = np.random.randint(1,7, size = 15)
print(muestras_dado)

### También se puede
muestras_dado = np.random.choice([1,2,3,4,5,6], size = 15)
print(muestras_dado)

[6 5 5 3 2 5 3 3 1 2 6 4 3 6 5]
[5 5 3 5 2 6 4 6 3 1 4 4 2 1 3]

### Ejercitación

**Ejercicio 1:** ¿Cuál será el promedio de los valores obtenidos al tirar muchas veces un dado?¿Te animás a averiguar - o calcular - cuánto *debería dar* antes de hacerlo? Vamos a tratar de responder esta pregunta **simulando** un dado. Para ello:
* Obtener muestras al azar de un dado usando lo que vimos anteriormente.
* Calcular su promedio y desviación estándar.

¿A partir de qué cantidad de muestras el promedio se "estabiliza"?

In [6]:
N = 1000000
muestras_dado = np.random.randint(1,7, size = N)
print(muestras_dado.mean(), muestras_dado.std())

3.501686 1.7081859258886314

**Ejercicio 2:** Simular un dado cargado para favorecer un valor de su elección. Por ejemplo, el seis. Para ello, consultar la ayuda de la función `np.random.choice`. ¿Cómo se modifica el promedio y la desviación estándar?

In [7]:
# a. Crear un arreglo que asigne probabilidades a cada valor del dado. Recordar que las probabilidades deben sumar 1
probabilidades = np.array([1,1,1,1,1,4])
probabilidades = probabilidades/probabilidades.sum()

In [8]:
# b. Generar las muestras
muestras_dado_cargado = np.random.choice([1,2,3,4,5,6],p=probabilidades, size = 50)
print(muestras_dado_cargado)

[6 3 2 5 6 2 3 3 2 6 2 5 2 3 6 2 1 1 6 4 3 2 1 6 6 6 2 6 6 5 6 6 6 3 4 6 1
 2 2 1 5 3 6 1 3 3 5 5 6 2]

In [9]:
print(muestras_dado_cargado.mean(), muestras_dado_cargado.std())

3.78 1.8685823503394223

## 2. Pandas 

Pandas es la librería más conocida de Python para manipular y analizar datos. Está montada sobre NumPy, por lo cual muchas funcionalidades son similares. Utilizaremos Pandas para trabajar con datasets estructurados (y bueno, ¡bastante más!). 

Así como NumPy nos proveé de los *arreglos* y con ellos accedemos a muchas nuevas funcionalidades, Pandas nos provee de los *Data Frames* y las *Series*. Por lejos, el objeto más utilizados es el primero, los Data Frames. 


En esta sección empezaremos a:

1. Familiarizarnos con los Data Frames de Pandas, manipular sus funciones básicas y entender la lógica de las mismas (¡para después googlearlas!).
2. Empezar a trabajar con Datasets.

**¡Manos a la obra!**

### 2.1 Primeros pasos

Importamos la librería.

In [62]:
import pandas as pd

Vamos a crear nuestro propio dataset. Es decir, agarrar a mano los datos poblacionales de http://www.ign.gob.ar/nuestrasactividades/geografia/datosargentina/divisionpolitica y guardarlos en una variable `data_dic`.¿Qué tipo de variable es, desde el punto de vista de la programación?

**Nota**: la población está en número de habitantes y la superficie en km2.

In [65]:
data_dic = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe"],"Poblacion":[2890151,15625084,367828,1055259,509108,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007]}

In [68]:
data_dict2 = {
    "Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz","Santa Fe"],
    "Poblacion":[2890151,15625084,367828,1055259,509108,3308876,673307,1738929,1101593,638645,273964,3194537],
    "Superficie":[200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007]
}

In [70]:
data_dict2

{'Jurisdiccion': ['CABA',
  'Buenos Aires',
  'Catamarca',
  'Chaco',
  'Chubut',
  'Córdoba',
  'Jujuy',
  'Mendoza',
  'Misiones',
  'Río Negro',
  'Santa Cruz',
  'Santa Fe'],
 'Poblacion': [2890151,
  15625084,
  367828,
  1055259,
  509108,
  3308876,
  673307,
  1738929,
  1101593,
  638645,
  273964,
  3194537],
 'Superficie': [200,
  307521,
  102606,
  99633,
  509108,
  165321,
  53219,
  148827,
  29801,
  203013,
  243943,
  133007]}

In [71]:
data_dict3 = [{'Jurisdiccion': 'CABA', 'Poblacion': 2890151, 'Superficie': 200},
            {'Jurisdiccion': 'Buenos Aires', 'Poblacion': 15625084, 'Superficie': 307521},]

In [72]:
data_dict3

[{'Jurisdiccion': 'CABA', 'Poblacion': 2890151, 'Superficie': 200},
 {'Jurisdiccion': 'Buenos Aires', 'Poblacion': 15625084, 'Superficie': 307521}]

Así como podemos crear arreglos a partir de listas, podemos crear Data Frames a partir de diccionarios.

In [73]:
# Creamos el DataFrame
data_pandas = pd.DataFrame(data_dic)
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut     509108      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

In [74]:
data_pandas.drop(4)

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

**Ejercicio 1:** investigar las funciones que se implementan en la próxima celda. ¿Qué hacen? ¿Para qué piensan que pueden ser útiles?

In [13]:
# data_pandas.head()
# data_pandas.tail()
# data_pandas.count()
# data_pandas.shape

**Ejercicio 2:** agregar al Dataset la información correspondiente a alguna jurisdicción faltante. Recuerden que, al tratarse de una nueva instancia, corresponde a una fila. Pista: googlear "add row to pandas dataframe" o similar. No hay una única forma de hacerlo.

In [87]:
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut     509108      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

In [88]:
data_pandas.loc[13] = ['Salta',1214441,155488]
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut     509108      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
13         Salta    1214441      155488

**Ejercicio 3:** Investigar las funciones columns e index. ¿Qué hacen? ¿Qué tipo de dato es su salida?¿A qué tipo de dato conocido se parecen?

In [92]:
#data_pandas.columns
data_pandas.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13], dtype='int64')

**Ejercicio 4:** ¿Qué hacen las siguientes operaciones?

In [95]:
#data_pandas['Jurisdiccion']
#data_pandas[['Jurisdiccion','Poblacion']]
data_pandas.Jurisdiccion
# 'Poblacion' in data_pandas

0             CABA
1     Buenos Aires
2        Catamarca
3            Chaco
4           Chubut
5          Córdoba
6            Jujuy
7          Mendoza
8         Misiones
9        Río Negro
10      Santa Cruz
11        Santa Fe
13           Salta
Name: Jurisdiccion, dtype: object

In [97]:
data_pandas['dos palabras'] = 2

In [103]:
data_pandas.Jurisdiccion

0             CABA
1     Buenos Aires
2        Catamarca
3            Chaco
4           Chubut
5          Córdoba
6            Jujuy
7          Mendoza
8         Misiones
9        Río Negro
10      Santa Cruz
11        Santa Fe
13           Salta
Name: Jurisdiccion, dtype: object

**Ejercicio 5:** Agregar una columna al dataframe que corresponda a la densidad de cada jurisdicción. Usar la información que **ya está** en el dataset.

In [106]:
data_pandas['Densidad'] = data_pandas['Poblacion'] / data_pandas['Superficie']
data_pandas

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200             2  14450.755000
1   Buenos Aires   15625084      307521             2     50.809811
2      Catamarca     367828      102606             2      3.584859
3          Chaco    1055259       99633             2     10.591461
4         Chubut     509108      509108             2      1.000000
5        Córdoba    3308876      165321             2     20.014856
6          Jujuy     673307       53219             2     12.651628
7        Mendoza    1738929      148827             2     11.684231
8       Misiones    1101593       29801             2     36.964968
9      Río Negro     638645      203013             2      3.145833
10    Santa Cruz     273964      243943             2      1.123066
11      Santa Fe    3194537      133007             2     24.017811
13         Salta    1214441      155488             2      7.810513

In [109]:
data_pandas.iloc[8]['dos palabras'] = 10
data_pandas

<ipython-input-109-3ed9bbd4161d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pandas.iloc[8]['dos palabras'] = 10

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200             2  14450.755000
1   Buenos Aires   15625084      307521             2     50.809811
2      Catamarca     367828      102606             2      3.584859
3          Chaco    1055259       99633             2     10.591461
4         Chubut     509108      509108             2      1.000000
5        Córdoba    3308876      165321             2     20.014856
6          Jujuy     673307       53219             2     12.651628
7        Mendoza    1738929      148827             2     11.684231
8       Misiones    1101593       29801             2     36.964968
9      Río Negro     638645      203013             2      3.145833
10    Santa Cruz     273964      243943             2      1.123066
11      Santa Fe    3194537      133007             2     24.017811
13         Salta    1214441      155488             2      7.810513

In [110]:
data_pandas

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200             2  14450.755000
1   Buenos Aires   15625084      307521             2     50.809811
2      Catamarca     367828      102606             2      3.584859
3          Chaco    1055259       99633             2     10.591461
4         Chubut     509108      509108             2      1.000000
5        Córdoba    3308876      165321             2     20.014856
6          Jujuy     673307       53219             2     12.651628
7        Mendoza    1738929      148827             2     11.684231
8       Misiones    1101593       29801             2     36.964968
9      Río Negro     638645      203013             2      3.145833
10    Santa Cruz     273964      243943             2      1.123066
11      Santa Fe    3194537      133007             2     24.017811
13         Salta    1214441      155488             2      7.810513

In [112]:
for index, row in data_pandas.iterrows():
    print('este es el indice:\n', index)
    print('este es la row:\n', row)

este es el indice:
 0
este es la row:
 Jurisdiccion         CABA
Poblacion         2890151
Superficie            200
dos palabras            2
Densidad        14450.755
Name: 0, dtype: object
este es el indice:
 1
este es la row:
 Jurisdiccion    Buenos Aires
Poblacion           15625084
Superficie            307521
dos palabras               2
Densidad           50.809811
Name: 1, dtype: object
este es el indice:
 2
este es la row:
 Jurisdiccion    Catamarca
Poblacion          367828
Superficie         102606
dos palabras            2
Densidad         3.584859
Name: 2, dtype: object
este es el indice:
 3
este es la row:
 Jurisdiccion        Chaco
Poblacion         1055259
Superficie          99633
dos palabras            2
Densidad        10.591461
Name: 3, dtype: object
este es el indice:
 4
este es la row:
 Jurisdiccion    Chubut
Poblacion       509108
Superficie      509108
dos palabras         2
Densidad           1.0
Name: 4, dtype: object
este es el indice:
 5
este es la row:
 Jurisdiccion      Córdoba
Poblacion         3308876
Superficie         165321
dos palabras            2
Densidad        20.014856
Name: 5, dtype: object
este es el indice:
 6
este es la row:
 Jurisdiccion        Jujuy
Poblacion          673307
Superficie          53219
dos palabras            2
Densidad        12.651628
Name: 6, dtype: object
este es el indice:
 7
este es la row:
 Jurisdiccion      Mendoza
Poblacion         1738929
Superficie         148827
dos palabras            2
Densidad        11.684231
Name: 7, dtype: object
este es el indice:
 8
este es la row:
 Jurisdiccion     Misiones
Poblacion         1101593
Superficie          29801
dos palabras            2
Densidad        36.964968
Name: 8, dtype: object
este es el indice:
 9
este es la row:
 Jurisdiccion    Río Negro
Poblacion          638645
Superficie         203013
dos palabras            2
Densidad         3.145833
Name: 9, dtype: object
este es el indice:
 10
este es la row:
 Jurisdiccion    Santa Cruz
Poblacion           273964
Superficie          243943
dos palabras             2
Densidad          1.123066
Name: 10, dtype: object
este es el indice:
 11
este es la row:
 Jurisdiccion     Santa Fe
Poblacion         3194537
Superficie         133007
dos palabras            2
Densidad        24.017811
Name: 11, dtype: object
este es el indice:
 13
este es la row:
 Jurisdiccion       Salta
Poblacion        1214441
Superficie        155488
dos palabras           2
Densidad        7.810513
Name: 13, dtype: object

### 2.2 Filtrado por máscara.

Lo que veremos a continuación es **muy importante**, ya que es una operación que haremos muchas veces. Su implementación es muy parecida tanto en NumPy como en Pandas, por lo que veremos cómo hacerlo primero en NumPy luego en Pandas.

Supongamos que hacemos 50 tiradas de un dado, como hicimos en la sección anterior, pero queremos seleccionar solamente aquellas tiradas que fueron menores que cuatro. ¿Cómo podemos hacerlo?

In [18]:
muestras_dado = np.random.randint(1,7, size = 50)
print(muestras_dado)

[1 2 4 6 5 1 6 6 1 6 6 2 4 1 4 2 3 4 1 4 5 4 4 1 1 1 5 3 3 6 6 6 1 1 5 2 2
 6 2 3 5 6 6 2 2 5 1 1 6 4]

Lo que podemos hacer es crear una máscara:

In [19]:
mascara = muestras_dado < 4
print(mascara)
print(type(mascara))

[ True  True False False False  True False False  True False False  True
 False  True False  True  True False  True False False False False  True
  True  True False  True  True False False False  True  True False  True
  True False  True  True False False False  True  True False  True  True
 False False]
<class 'numpy.ndarray'>

Notar que `mascara` es un arreglo de booleanos, con `True` en los valores que cumplen la condición y `False` donde no. Una vez que creamos la máscara, podemos usarla para seleccionar de nuestro arreglo aquellos elementos que queríamos:

In [20]:
print(muestras_dado[mascara])

[1 2 1 1 2 1 2 3 1 1 1 1 3 3 1 1 2 2 2 3 2 2 1 1]

Notar que con `mascara.sum()` podemos contar cuántas veces se cumple la condición que pedimos.

In [21]:
print(mascara.sum())

24

A veces, podemos hacerlo en una sola línea. Supongamos que queremos aquellas tiradas donde salió seis:

In [22]:
print(muestras_dado[muestras_dado == 6])

[6 6 6 6 6 6 6 6 6 6 6 6]

**En Pandas**

Supongamos que queremos seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes. Podemos hacerlo de la siguiente forma:

In [113]:
data_pandas

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200             2  14450.755000
1   Buenos Aires   15625084      307521             2     50.809811
2      Catamarca     367828      102606             2      3.584859
3          Chaco    1055259       99633             2     10.591461
4         Chubut     509108      509108             2      1.000000
5        Córdoba    3308876      165321             2     20.014856
6          Jujuy     673307       53219             2     12.651628
7        Mendoza    1738929      148827             2     11.684231
8       Misiones    1101593       29801             2     36.964968
9      Río Negro     638645      203013             2      3.145833
10    Santa Cruz     273964      243943             2      1.123066
11      Santa Fe    3194537      133007             2     24.017811
13         Salta    1214441      155488             2      7.810513

In [116]:
data_pandas[data_pandas['Poblacion'] > 1000000]

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200             2  14450.755000
1   Buenos Aires   15625084      307521             2     50.809811
3          Chaco    1055259       99633             2     10.591461
5        Córdoba    3308876      165321             2     20.014856
7        Mendoza    1738929      148827             2     11.684231
8       Misiones    1101593       29801             2     36.964968
11      Santa Fe    3194537      133007             2     24.017811
13         Salta    1214441      155488             2      7.810513

¿Y si queremos seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes **y** su superficie menor a cien mil km2?

In [24]:
mascara = np.logical_and(data_pandas.Poblacion > 1000000, data_pandas.Superficie < 100000)
data_pandas[mascara]

### Es equivalente
# data_pandas[(data_pandas.Poblacion > 1000000) & (data_pandas.Superficie < 100000)]

  Jurisdiccion  Poblacion  Superficie      Densidad
0         CABA    2890151         200  14450.755000
3        Chaco    1055259       99633     10.591461
8     Misiones    1101593       29801     36.964968

In [134]:
nuevo_df = data_pandas[(data_pandas['Poblacion'] > 1000000) & (data_pandas['Superficie'] < 100000)].copy()

In [135]:
data_pandas

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200           100  14450.755000
1   Buenos Aires   15625084      307521           100     50.809811
2      Catamarca     367828      102606           100      3.584859
3          Chaco    1055259       99633           100     10.591461
5        Córdoba    3308876      165321           100     20.014856
6          Jujuy     673307       53219           100     12.651628
7        Mendoza    1738929      148827           100     11.684231
8       Misiones    1101593       29801           100     36.964968
9      Río Negro     638645      203013           100      3.145833
10    Santa Cruz     273964      243943           100      1.123066
11      Santa Fe    3194537      133007           100     24.017811
13         Salta    1214441      155488           100      7.810513

In [137]:
nuevo_df['dos palabras'] = 200

In [139]:
data_pandas

    Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0           CABA    2890151         200           100  14450.755000
1   Buenos Aires   15625084      307521           100     50.809811
2      Catamarca     367828      102606           100      3.584859
3          Chaco    1055259       99633           100     10.591461
5        Córdoba    3308876      165321           100     20.014856
6          Jujuy     673307       53219           100     12.651628
7        Mendoza    1738929      148827           100     11.684231
8       Misiones    1101593       29801           100     36.964968
9      Río Negro     638645      203013           100      3.145833
10    Santa Cruz     273964      243943           100      1.123066
11      Santa Fe    3194537      133007           100     24.017811
13         Salta    1214441      155488           100      7.810513

**Ejercicio:** seleccionar aquellas jurisdicciones cuya población sea menor a 500 mil habitantes **o** su superficie mayor a cien mil km2.

In [25]:
mascara = np.logical_and(data_pandas.Poblacion < 500000, data_pandas.Superficie > 100000)
data_pandas[mascara]

   Jurisdiccion  Poblacion  Superficie  Densidad
2     Catamarca     367828      102606  3.584859
10   Santa Cruz     273964      243943  1.123066

## 2.3 Iris dataset

¿Pero siempre vamos a tener que crear un diccionario y luego pasarlo a un Data Frame? Evidentemente, esta opción no parece muy cómoda, en particular para conjuntos de datos de gran volumen. Veamos cómo trabajamos con un conjunto de datos preexistente.


**Aviso**: Esta sección es, en realidad, un ejercicio. Para hacerlo, debes ir googleando y consultando la documentación que consideres apropiada. Obviamente, también puedes consultar a tu mentor/a.

Vamos a trabajar con el Iris Dataset, probablemente uno de los conjuntos de datos más famosos, ya que muchos ejemplos se realizan con él. Es un dataset sencillo pero ilustrativo.


1. Abrir con Pandas el archivo 'DS_Bitácora_04_iris.csv' (¿Qué tipo de archivo es?) e imprimir sus primeros cinco elementos. Pista: `pd.read...()`.

In [140]:
data = pd.read_csv('DS_Bitácora_04_Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

2. ¿Cuántas columnas (features) tiene?¿Cuáles son sus nombres?¿Y cuántas filas (instancias)? Pistas: `shape`, `columns`.

In [27]:
print(data.shape)
print(data.columns)

(150, 6)
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

3. Obtener el valor medio y desviación estándar de cada columna. ¿Hay alguna función de Pandas que nos dé aún más estadísticos? Pistas: `describe`.

In [28]:
# data.mean()
# data.std()
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

4. ¿Creen que todas las columnas tienen información? *Tirar* la columna que crean que está demás. Dependiendo de la función que uses - hay más de una opción -, tal vez tengas que prestar **mucha** atención al argumento `inplace`. Pista: `drop`, `del`.

In [29]:
data.drop(columns = 'Id', inplace = True)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [1]:
True

True

In [3]:
False

False

In [4]:
not True

False

In [5]:
not False

True

In [6]:
~True

-2

In [7]:
~False

-1

In [10]:
(-1*1) -1

-2

In [11]:
(-1*0) -1

-1

In [12]:
JSON

NameError: name 'JSON' is not defined

In [13]:
JavaScript Object Notation

SyntaxError: invalid syntax (<ipython-input-13-abc3c962569e>, line 1)

In [14]:
a = [1,2,3]

In [20]:
a[10]

IndexError: list index out of range

In [18]:
b = {'hola': 1,
     'yo': 2,
     'el': 3}

In [19]:
b['hola']

1

In [21]:
b['lalalala']

KeyError: 'lalalala'

In [24]:
b.get('lalalala', 'ninguno')

'ninguno'

In [25]:
def saludo(texto='hola!'):
    print(texto)

In [27]:
saludo('abc')

abc

In [28]:
b = {'hola': 1,
     'yo': 2,
     'el': 3,
    'saludo':saludo}

In [29]:
b.get('saludo', 'ninguno')('nuevo saludo')

nuevo saludo

In [36]:
import time
import numpy as np
start = time.time()

numeros = [4,5,1,3,5,7,8,1,3,4,1,7,8,1,3,4,5,2,1,2,4,5] * 100
nums = np.array(numeros)
suma = np.extract((nums < 5) &  ~(nums % 2), nums).sum()
print(suma)

end = time.time()
print(f'tiempo de ejecución: {end - start}')

2000
tiempo de ejecución: 0.0005550384521484375

In [44]:
xx = (nums < 5) & (nums % 2 == 0)

In [43]:
(nums < 5) & ~(nums % 2)

array([1, 0, 0, ..., 1, 1, 0])

In [41]:
(nums % 2 == 0)

array([ True, False, False, ...,  True,  True, False])

In [46]:
xx.sum()

600

In [47]:
xx.shape

(2200,)

In [48]:
xx

array([ True, False, False, ...,  True,  True, False])

In [51]:
nums[nums < 5]

array([4, 1, 3, ..., 1, 2, 4])

In [54]:
len(nums)

2200

In [53]:
len(nums[nums < 5])

1400

In [57]:
nums[0]

4

In [60]:
mascara = [False] * len(nums)
#mascara[0] = True

In [61]:
nums[mascara]

array([], dtype=int64)

In [122]:
data_pandas.drop(4, inplace=True)

In [124]:
data_pandas.reset_index()

    index  Jurisdiccion  Poblacion  Superficie  dos palabras      Densidad
0       0          CABA    2890151         200             2  14450.755000
1       1  Buenos Aires   15625084      307521             2     50.809811
2       2     Catamarca     367828      102606             2      3.584859
3       3         Chaco    1055259       99633             2     10.591461
4       5       Córdoba    3308876      165321             2     20.014856
5       6         Jujuy     673307       53219             2     12.651628
6       7       Mendoza    1738929      148827             2     11.684231
7       8      Misiones    1101593       29801             2     36.964968
8       9     Río Negro     638645      203013             2      3.145833
9      10    Santa Cruz     273964      243943             2      1.123066
10     11      Santa Fe    3194537      133007             2     24.017811
11     13         Salta    1214441      155488             2      7.810513

In [ ]:
data_pandas = data_pandas.append(Blablá)